<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.first.funfun.mapper.ArticleMapper">

	<select id="getArticle" parameterType="_int" resultType="com.first.funfun.dto.ArticleDTO">
		
		<![CDATA[
			SELECT a.*, p.*, u.user_nickname
				FROM articles a
				LEFT JOIN projects p ON p.project_id = a.article_id
				LEFT JOIN member u ON p.project_author = u.user_email
				WHERE a.article_id = #{id}
		]]>
		
	</select>
	
	<select id="getLike" parameterType="_int" resultType="_int">
		
		<![CDATA[
			SELECT p.project_likes
				FROM articles a
				LEFT JOIN projects p ON p.project_id = a.article_id
				WHERE a.article_id = #{id}
		]]>
		
	</select>
	
	<update id="articleLike" parameterType="map">
	
		UPDATE projects
		SET project_likes = project_likes + 1
		WHERE project_id = (
		    SELECT p.project_id
		    FROM articles a
		    LEFT JOIN projects p ON p.project_id = a.article_id
		    WHERE a.article_id = #{id}
		)

	</update>
	
	<update id="articleCancleLike" parameterType="map">
	
		UPDATE projects
		SET project_likes = project_likes - 1
		WHERE project_id = (
		    SELECT p.project_id
		    FROM articles a
		    LEFT JOIN projects p ON p.project_id = a.article_id
		    WHERE a.article_id = #{id}
		)

	</update>
	
</mapper>	
