<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.first.funfun.mapper.UserMapper">
<!-- namespace: XML 파일에서 내용의 구분을 위해서 사용 -->

	<insert id="insertUser" parameterType="com.first.funfun.dto.UserDTO">
	
	INSERT INTO member (user_email, user_password, user_birth, user_name, user_phone, user_gender, user_nickname, user_authlevel)
		VALUES (#{userEmail}, #{userPw}, #{userBirthday}, #{userName}, #{userPhone}, #{userGender}, #{userNickName}, #{userAuthLevel})
	
	</insert>
	
	<select id="getUserList" resultType="com.first.funfun.dto.UserDTO">
	
		select * from member
	
	</select>
	
	
	<update id="updateUser" parameterType="com.first.funfun.dto.UserDTO">
	
		update member set user_name=#{userName}, 
						   user_pw=#{userPw},
						   birthday=#{birthday},
						   phone=#{phone}
				where user_id = #{userId}		   
		
	</update>
	
	
	<select id="login" parameterType="com.first.funfun.dto.UserDTO" 
	                   resultType="com.first.funfun.dto.UserDTO">
	
		select * from member where user_email = #{userEmail} and user_password = #{userPw}
								and user_status = 'N'
		
	</select>
	
	<select id="getUser" parameterType="_int" 
	                     resultType="com.first.funfun.dto.UserDTO">
	
		select * from member where u_idx = #{uIdx}
		
	</select>
	
	<update id="deleteUser" parameterType="_int">
	
		update member set user_status='Y'
				where u_idx = #{uIdx}		   
		
	</update>
	
	
	
	
	
</mapper>	
