# dependencies
/node_modules
/.pnp
.pnp.js

# directory
/coverage
/funfun
build

# backend
backend/src/main/resources/application.properties

# misc
.DS_Store
.vscode
.env
.envrc
.env.local
.env.development.local
.env.test.local
.env.production.local
package-lock.json

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code
.vscode/
